/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;



/* Colors */
$color-font-dark: #222222;
$color-font-medium: #444444;
$color-font-light: #666666;
$color-font-white: #FFFFFF;


/* Fonts */
$font-OpenSans: 'Open Sans', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Abhaya: 'Abhaya Libre', serif;