@import 'variables.scss';

.App {
    margin-top: 20px;

    @media only screen and (min-width: $breakpoint-tablet) {
        margin-top: 30px;
    }
    @media only screen and (min-width: $breakpoint-desktop) {
        margin-top: 68px;
    } 
}

.carousel_mobile {
    @media only screen and (max-width: $breakpoint-desktop) {
        padding-left: 0; 
        padding-right: 0; 
    }
    
}

.first_row {
    position: relative;
}