@import '../../styles/variables';

.product_info {
    position: initial;

    @media only screen and (min-width: $breakpoint-desktop) {
        position: relative;
    }

    .product_title {
        font-family: $font-Abhaya;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.09;
        text-align: center;
        color: $color-font-dark;
        margin-bottom: 5px;
        

        @media only screen and (min-width: $breakpoint-tablet) {
            font-size: 24px;
            line-height: 1.17;
            margin-top: 22px;
        }
        @media only screen and (min-width: $breakpoint-desktop) {
            margin-top: 22px;
        }
        
    }

    .product_price {
        font-family: $font-OpenSans;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        color: $color-font-light;
        margin-bottom: 20px;

        @media only screen and (min-width: $breakpoint-tablet) {
            font-size: 16px;
            line-height: 1.5;
        }
        @media only screen and (min-width: $breakpoint-desktop) {
            margin-bottom: 25px;
        }
    }

    .product_title_block {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;

        @media only screen and (min-width: $breakpoint-tablet) {
            position: relative;
        }

    }


    .product_text {
        font-family: $font-OpenSans;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.54;
        letter-spacing: 1.5px;
        color: $color-font-dark;
        margin-bottom: 15px;

        @media only screen and (min-width: $breakpoint-tablet) {
            font-size: 16px;
            line-height: 1.5;
        } 

        .product_text_bold {
            font-weight: 600;
        }
    }


    .product_swatches {
        div {
            cursor: pointer;
            width: 29.4px;
            height: 30px;
            display: inline-block;
            margin-right: 20px;
            border-radius:20px;
            margin-bottom: 25px;

            background-color: #ffefe5;

            @media only screen and (min-width: $breakpoint-tablet) {
                width: 30px;
                margin-bottom: 35px;
            }
            @media only screen and (min-width: $breakpoint-desktop) {
                width: 34px;
                height: 34px;
                margin-bottom: 25px;
            } 
        }

        .naked-1 {background-color: #ffefe5;}
        .naked-2 {background-color: #dab5a1;}
        .naked-3 {background-color: #d49d89;}
        .naked-4 {background-color: #6a3a33;}
        .naked-5 {background-color: #524346;}

        div.selected {
            border: solid 3px #c9c9c9;
        }
    }

    .product_variations {

        margin-bottom: 20px;
        @media only screen and (min-width: $breakpoint-tablet) {
            margin-bottom: 35px;
        }
        @media only screen and (min-width: $breakpoint-desktop) {
            margin-bottom: 15px;
        } 


        label {
            display: block;
            width: 100%;
        }

        select {
            display: block;
            height:44px;
            border: solid 1px #e0e0e0;
            padding: 10px 12px 12px;
            font-size: 12px;
            color:$color-font-medium;
            margin-top: 5px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            background-image: url('../../images/chevron-down.svg');
            background-repeat: no-repeat;
            background-position: 92% center;
            
            

            width: 100%;

            @media only screen and (min-width: $breakpoint-tablet) {
                font-size: 13px;
            }

        }
        
        /* For IE10+ */
        select::-ms-expand {
            display: none;
        }
    }


    .product_button {
        margin-bottom: 40px;

        button {
            width: 100%;
            height: 50px;
            border: none;
            cursor: pointer;
            background-color: #444444;
            font-family: $font-OpenSans;
            font-size: 14px;
            letter-spacing: 1.5px;
            text-align: center;
            color: $color-font-white;
        }
    }

}

