@import "../../styles/variables";

.article_description {
    font-family: $font-Montserrat;
    font-size: 13px;
    line-height: 1.77;
    color: $color-font-medium;

    h2 {
        font-family: $font-OpenSans;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: $color-font-dark;
    }

    hr {
        border: none;
        height: 3px;
        background-color: #f7f7f7;
    }
}